.body-block {
    margin-top: 100px;
    width:100%;
    text-align: center;
}
.list-block { 
    position: absolute;
    left: 34%;
    width: 30%;
}

.position{
    display: inline-block;
}

.btn-panel {
    float: right;
}

.list-items {
    background-color: #1e90ff;
    margin-bottom: 1px;
    text-align: left;
    padding: 1em;
    border: 1px solid white;
}

.list-items h2 {
    display: inline-block;
}
.list-items i {
    
    margin-left: 9px;
    font-size: 25px;
    padding: 5px;
}

.fa-trash-alt {
    color: red;
    cursor: pointer;
}

.fa-edit {
    color: yellowgreen;
    cursor: pointer;
}

.input-field {
    height: 30px;
    width: 60%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-block {
    background-color: grey;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 10px;
}

.superhero-input {
    margin: 5px;
    height: 40px;
    width: 75%;
    font-size: 40px;
    border-radius: 8px;
}

.add-btn {
    padding: 3px 10px 5px 10px;
    height: 40px;
    font-size: 28px;
    margin-left: 25px;
    border-radius: 8px;
    background-color: crimson;
    border-color: crimson;
    color: white;
}
