.heading {
    text-align: center;
    width:100%;
    background-color: cadetblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn-panel {
    text-align: left;
    margin-top: 50px;
    margin-left: 100px;
}

.view-btn , .edit-btn {
    padding: 1em 2em 1em 2em;
    font-size: 20px;
    border-radius: 8px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    
}

.view-btn {
    margin-right: 50px;
}
.view-btn:hover,.edit-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
